.cabecera, .principal, .pie {
border: 2px solid black;
padding: 10px;
margin: 5px;
}
.cabecera {
background: red;
text-align: center;
}
.principal {
background: blue;
float: left;
width: 65%;
}
.pie {
background: green;
float: right;
width: 30%;
}