* {
	margin:0;
	padding:0;
}

body {
	background:#e6e6e6;
	background-image: url(https://i.makeagif.com/media/3-05-2016/SvtWwV.gif);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	margin: 10px;
	text-align: center;
	background: skyblue;
	border: 10px solid #808080;
	background-color: rgba(0,0,0,.5);
    color: #fff;
}

header, .main, footer {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav {
	background:#528FD5;
	overflow:hidden;
	background-color: rgba(0,0,0,.5);
    color: #fff;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	padding:10px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover {
	background:#75ACEC;
}

.main .articles {
	width:68.5%;
	margin-right:1.5%;
	float:left;
}

.main .articles article {
	padding:20px;
	background:#fff;
	margin-bottom:20px;
	background-color: rgba(0,0,0,.5);
    color: #fff;
}

aside {
	width:30%;
	background:#ff8000;
	float:left;
	padding:20px;
	box-sizing:border-box;
	background-color: rgba(0,0,0,.5);
    color: #fff;
}

footer {
	background:#000;
	color:#fff;
	clear:both;
	padding:10px 0px;
	text-align:center;
	background-color: rgba(0,0,0,.5);
    color: #fff;
}