.Contenedor {
border: 2px solid slategrey;
background: snow;
padding: 10px;
margin: 5px;
color: white;
text-align: center;
border-radius: 15px;
}
.Encabezado {
background: blue;
width: 100%;

}
.Contenido {
background: green;
width: 100%;
}
.Pie {
background: red;
width: 100%;
}