* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration:none;
}

body {
	background:grey;
	background-image: url(https://media.giphy.com/media/eYr7dxRhFnAsM/source.gif);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
	padding-bottom: 50px;
}

h1 a{
	color: inherit;
	text-decoration:none;
}

h1{
	margin: 10px;
	text-align: center;
	border: 5px solid yellow;
	background-color: rgba(0, 0, 255, 0.5);
    color: yellow;
}

header, .main {
	width:90%;
	max-width:1400px;
	margin:20px auto;
}

header nav {
	background:#528FD5;
	overflow:hidden;
	background-color: rgba(0,0,0,.5);
    color: #fff;
}

header nav ul {
	list-style:none;
	display: flex;
	justify-content: space-around;
}

header nav ul li a {
	padding:10px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover {
	background:#75ACEC;
}

.main .articles {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	min-height: auto;
	padding: 10px;
}

.main .articles article {
	padding:20px;
	margin-bottom:20px;
	background-color: rgba(0,0,0,.5);
    color: #fff;
	
	flex: 1 1 calc(33.33% - 20px);
	min-width: 200px;
	
	height: auto;
	text-align: center;
}

@media (max-width: 768px) {
    .main .articles article {
        flex: 1 1 100%;
        min-width: unset;
    }
    
    header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header nav ul li {
        width: calc(50% - 2px);
        text-align: center;
        margin-bottom: 5px;
    }

    header nav ul li:nth-last-child(1):nth-child(odd) {
        width: 100%;
    }
}


footer {
	background:#000;
	color:#fff;
	padding:10px 0px;
	text-align:center;
	background-color: rgba(0,0,0,.5);
    color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
}